<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:myname="http://www.Sunflower.org/schema/userA"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.Sunflower.org/schema/userA
	   http://www.Sunflower.org/schema/userA.xsd"
>
	<!-- 自定义标签 -->
	<!--<myname:userA id="userA" name="username" age="18" email="12345875" />-->

	<!--循环依赖-->
	<!--<bean name="userA" class="org.springframework.myTest.UserA"  >
		<property name="userB" ref="userB"></property>
	</bean>
	<bean name="userB" class="org.springframework.myTest.UserB" >
		<property name="userA" ref="userA"></property>
	</bean>-->

	<!--<bean name="user" class="org.springframework.myTest.User" init-method="init">
		<constructor-arg name="name" value="userName"></constructor-arg>
	</bean>-->


	<!--colorFactory begin-->
	<!--<bean id="colorFactory" class="org.springframework.myTest.factoryBeanTest.ColorFactory" >
	</bean>
	<bean id="car" class="org.springframework.myTest.factoryBeanTest.Car">
		<property name="color" ref="colorFactory"></property>
	</bean>-->
	<!--colorFactory end-->


	<!--ColorFactoryTest begin-->
	<bean id="red" factory-bean="colorFactory" factory-method="getInstance">
		<constructor-arg name="ags" value="123"></constructor-arg>
	</bean>
	<bean id="colorFactory" class="org.springframework.myTest.factoryBeanTest.ColorFactoryTest"></bean>
	<bean id="car" class="org.springframework.myTest.factoryBeanTest.Car">
		<property name="color" ref="red"></property>
	</bean>
	<!--ColorFactoryTest end-->


	<!--构造器测试 begin-->
	<!--<bean id="createBeanTestBean" class="org.springframework.myTest.CreateBeanTest.CreateBeanTestBean">
		<constructor-arg name="age" value="18"></constructor-arg>
		<constructor-arg name="name" value="createBeanTestBean"></constructor-arg>
	</bean>-->
	<!--构造器测试 end-->


</beans>